.form {
  padding: 20px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
  width: 500px;
  margin: 0 auto;
}

.form::after {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.span {
  color: red;
  position: absolute;
  bottom: -75%;
  left: 0;
}

.button {
  display: block;
  height: 40px;
  margin: 15px auto 0;
  width: fit-content;
  color: #fff;
}

.link {
  display: block;
  margin: 15px auto 0;
  width: fit-content;
  color: #fff;
}

.link:hover {
  color: #fff;
}

.formGroup {
  margin-bottom: 30px;
  padding-left: 50px;
  position: relative;
  display: flex;
}

.emailLabel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url('../../../images/mail.svg') center/contain no-repeat;
}

.input:focus:invalid {
  border-color: red;
}

.passwordLabel {
  composes: emailLabel;
  background: url('../../../images//passw.svg') center/80% no-repeat;
}

.userLabel {
  composes: passwordLabel;
  background-image: url('../../../images/user.svg');
}
