.password {
  display: block;
  padding: 15px;
  margin-right: 5px;
  border: 1px solid #dbe1e6;
  border-radius: 50%;
  background: url('../../../../../../images/passw.svg') center/40% no-repeat;
}

.password:hover {
  border-color: #808080;
  background: url('../../../../../../images/passwOnHover.svg') center/60%
    no-repeat;
}

.confirmPassword,
.name,
.companyName,
.URL,
.phone,
.position,
.stack,
.location,
.delete,
.interested,
.sent,
.accepted,
.rejected,
.favorite,
.favoriteActive,
.update,
.remove,
.cancel,
.HRInterview,
.TechnicalInterview {
  composes: password;
}

.name {
  background-image: url('../../../../../../images/user.svg');
}

.companyName {
  background-image: url('../../../../../../images/office.svg');
}

.companyName:hover {
  background-image: url('../../../../../../images/officeOnHover.svg');
}

.URL {
  background-image: url('../../../../../../images/link.svg');
}

.URL:hover {
  background-image: url('../../../../../../images/linkOnHover.svg');
}

.phone,
.HRInterview {
  background-image: url('../../../../../../images/phone.svg');
}

.phone:hover,
.HRInterview:hover {
  background-image: url('../../../../../../images/phoneOnHover.svg');
}

.HRInterview.active {
  background-color: #e0ffff;
}

.position {
  background-image: url('../../../../../../images/user-tie.svg');
}

.position:hover {
  background-image: url('../../../../../../images/user-tieOnHover.svg');
}

.stack,
.TechnicalInterview {
  background-image: url('../../../../../../images/embed2.svg');
  /* background-size: 50%; */
}

.stack:hover,
.TechnicalInterview:hover {
  background-image: url('../../../../../../images/embed2OnHover.svg');
}

.TechnicalInterview.active {
  background-color: #cbf8f8;
}

.location {
  background-image: url('../../../../../../images/compass.svg');
}

.location:hover {
  background-image: url('../../../../../../images/compassOnHover.svg');
}

.interested {
  background-image: url('../../../../../../images/info.svg');
  background-size: 100%;
}

.interested:hover {
  background-image: url('../../../../../../images/infoOnHover.svg');
  background-size: 120%;
}

.interested.active {
  background-color: #fffafa;
}

.sent {
  background-image: url('../../../../../../images/mail.svg');
  background-size: 60%;
}

.sent:hover {
  background-image: url('../../../../../../images/mailOnHover.svg');
  background-size: 80%;
}

.sent.active {
  background-color: #ffffe0;
}

.remove,
.accepted {
  background-image: url('../../../../../../images/checkmark.svg');
}

.remove:hover {
  background-image: url('../../../../../../images/checkmarkOnHover.svg');
}

.accepted:hover {
  background-image: url('../../../../../../images/checkmarkOnStatusOnHover.svg');
}

.accepted.active {
  background-color: #7fffd4;
}

.delete,
.cancel,
.rejected {
  background-image: url('../../../../../../images/cross.svg');
}

.delete:hover,
.cancel:hover {
  background-image: url('../../../../../../images/crossOnHover.svg');
}

.rejected:hover {
  background-image: url('../../../../../../images/crossInStatusOnHover.svg');
}

.rejected.active {
  background-color: #fa8072;
}

.favorite {
  background-image: url('../../../../../../images/star-empty.svg');
  background-size: 60%;
  border: none;
}

.favorite:hover {
  background-image: url('../../../../../../images/star-emptyOnHover.svg');
  background-size: 80%;
}

.favoriteActive {
  composes: favorite;
  background-image: url('../../../../../../images/star-full.svg');
}

.favoriteActive:hover {
  background-image: url('../../../../../../images/star-full.svg');
}

.update {
  background-image: url('../../../../../../images/cloud-upload.svg');
  background-size: 60%;
}

.update:hover {
  background-image: url('../../../../../../images/cloud-uploadOnHover.svg');
  background-size: 80%;
}
