.password {
  padding: 15px;
  border: 1px solid #dbe1e6;
  border-radius: 50%;
  background: url('../../../../../../images/passw.svg') center/60% no-repeat;
}

.password:hover {
  border-color: #808080;
  background: url('../../../../../../images/passwOnHover.svg') center/60%
    no-repeat;
}

.confirmPassword,
.name,
.companyName,
.URL,
.phone,
.position,
.stack,
.location,
.delete,
.interested,
.sent,
.accepted,
.rejected {
  composes: password;
}

.name {
  background-image: url('../../../../../../images/user.svg');
}

.companyName {
  background-image: url('../../../../../../images/office.svg');
}

.companyName:hover {
  background-image: url('../../../../../../images/officeOnHover.svg');
}

.URL {
  background-image: url('../../../../../../images/link.svg');
}

.URL:hover {
  background-image: url('../../../../../../images/linkOnHover.svg');
}

.phone {
  background-image: url('../../../../../../images/phone.svg');
}

.phone:hover {
  background-image: url('../../../../../../images/phoneOnHover.svg');
}

.position {
  background-image: url('../../../../../../images/user-tie.svg');
}

.position:hover {
  background-image: url('../../../../../../images/user-tieOnHover.svg');
}

.stack {
  background-image: url('../../../../../../images/embed2.svg');
}

.stack:hover {
  background-image: url('../../../../../../images/embed2OnHover.svg');
}

.location {
  background-image: url('../../../../../../images/compass.svg');
}

.location:hover {
  background-image: url('../../../../../../images/compassOnHover.svg');
}

/* .delete,
.interested,
.sent,
.accepted,
.rejected {
  border: none;
} */

.delete {
  background-image: url('../../../../../../images/cross.svg');
}

.delete:hover {
  background-image: url('../../../../../../images/crossOnHover.svg');
}

.interested {
  background-image: url('../../../../../../images/info.svg');
  background-size: 120%;
}

.interested:hover {
  background-image: url('../../../../../../images/infoOnHover.svg');
  background-size: 120%;
}

.sent {
  background-image: url('../../../../../../images/mail.svg');
}

.sent:hover {
  background-image: url('../../../../../../images/mailOnHover.svg');
}

.accepted {
  background-image: url('../../../../../../images/checkmark.svg');
}

.accepted:hover {
  background-image: url('../../../../../../images/checkmarkOnHover.svg');
}

.rejected {
  background-image: url('../../../../../../images/cross.svg');
}

.rejected:hover {
  background-image: url('../../../../../../images/crossOnHover.svg');
}
