.container {
  margin: 0 auto;
  min-width: 320px;
  /* background-image: url('https://i.ibb.co/yyBMPmJ/1593079102-work-731198.jpg'); */
  background-image: url('https://i.ibb.co/J29982W/mean-stack-developer-e1579706108805.jpg');
}

.viewContainer {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  align-items: center;
  width: 320px;
}
