.form {
  padding: 10px;
  max-width: 450px;
  margin: 0 auto;
}

.title {
  padding-left: 50px;
  color: #ffffff80;
}

.link {
  display: block;
  margin: 15px auto 0;
  width: fit-content;
  color: #fff;
}

.link:hover {
  color: #fff;
}
