.item,
.cardHeader,
.cardBody {
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  border: none;
  width: 303px;
}

.cardHeader {
  display: flex;
}

.mainButton {
  display: flex;
  width: 75%;
}

.date {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.sent {
  background-color: rgba(255, 255, 0, 0.15);
}

.accepted {
  background-color: rgba(0, 128, 0, 0.15);
}

.rejected {
  background-color: rgba(255, 0, 0, 0.15);
}
