.item,
.cardHeader,
.cardBody {
  padding: 0;
  margin: 0;
}

.item {
  border: none;
  width: 303px;
}

.cardHeader {
  display: flex;
}

.mainButton {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid #dbe1e6;
  border-radius: 5px;
  background-color: transparent;
}

.btnControlWrap {
  width: 40%;
}

.dateWrap {
  margin-right: 5px;
}

.day,
.mounth {
  font-size: 10px;
  line-height: 10px;
}

.day {
  border-bottom: 1px solid #0d1922;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
