.item,
.cardHeader,
.cardBody {
  padding: 0;
}

.cardHeader {
  display: flex;
}

.mainButton {
  display: flex;
  width: 180px;
}

.sent {
  background-color: rgba(255, 255, 0, 0.15);
}

.accepted {
  background-color: rgba(0, 128, 0, 0.15);
}

.rejected {
  background-color: rgba(255, 0, 0, 0.15);
}
