.container {
  display: flex;
}

.name {
  color: #ffffff80;
  border-right: 1px solid #ffffff80;
  padding-right: 15px;
  margin-right: 15px;
}

.button {
  color: #ffffff80;
  border: none;
  padding-left: 20px;
  min-height: 20px;
  background: url('../../images/log-out.svg') left center / 20px no-repeat;
}

.button:hover {
  color: #fff;
  background-image: url('../../images/log-outOnHover.svg');
}

.buttonTitle {
  display: none;
}

@media screen and (min-width: 768px) {
  .buttonTitle {
    display: inline;
  }
}
